.articles__wrapper {
    flex: 0.2;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.8);
    padding: 1%;
    height: 100vh;
    position: sticky;
    right: 0;
    top: 0;
}