.sorting {
    flex: 1;
    padding: 0 2%;
}

.sorting__navbar {
    padding: 10px;
}

.util__buttons {
    margin-bottom: 1%;
}

.sorting-types__buttons {
    margin-bottom: 1%;
}

.sorting-types__buttons>button {
    color: var(--orange);
}

.util__buttons>button {
    color: var(--violet);
}

.sorting__container {
    display: flex;
    padding: 10px;

}

.sorting__array {
    background-color: transparent;
    padding: 20px 0px;
    height: 460px;
    margin: 10px auto;
    text-align: center;
    flex: 0.8;
    border-radius: 7px;

}

.array-bar {
    width: 0.8%;
    background-color: var(--orange);
    display: inline-block;
    margin: 45px 2px;
    border-radius: 50px 50px 0px 0px;
}

.sorting__articles {
    flex: 0.2;
    border: 1px solid var(--orange);
}

.arraySize-slider {
    appearance: none;
    height: 7px;
    width: 30%;
    min-width: 300px;
    margin-left: 10px;

    background: var(--orange);
    border-radius: 7px;
    outline: none;
}

.arraySize-slider::-webkit-slider-thumb {
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--orange);
    cursor: pointer;
}

.sorting__button-active {
    border: 3px solid var(--orange)
}