.p5page {
    flex: 1;
    padding: 0 2%;

}

.todo {
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        1px 1px 3px rgba(0, 0, 0, 0.8);
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
}

.todo__title {
    text-decoration: wavy;
    color: var(--green);
    margin-bottom: 4%;
}